h1 {
    text-align: center;
}
.links, .links a {
    padding: 10px;
}

.links a.active {
    background-color: grey;
}
.create {
    color: black!important;
}
/* a {
    text-decoration: none;
    color: white;
} */
.menu-down:hover {
    background-color: blue;
}
.mat-toolbar {
    height: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
  }